:root {
    --teal: #016064;
    --orange: #F27244;
    --dark-green: #092b2c;
    --dark-purple: #211949;
    --light-orange: #FFF5EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', 'sans serif';
}

body {
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}


/*----HEADER STYLE-----*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 30px 50px;
    background-color: #211949;
    color: white;
}

header nav,
.auth-area {
    display: flex;
    gap: 20px;

}

header a {
    text-decoration: none;
    color: black;
    color: white;
}


/*-----HERO HOME STYLE-----*/
.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 50px;
}

.hero h1 {
    font-size: 4vw;
}

.hero p {
    font-size: 2vw;
}

.hero-btns {
    margin-top: 30px;
}

.hero-btns a {
    background-color: var(--orange);
    padding: 10px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3vw;
}


/*-----BLOG PAGE STYLE-----*/
.blog-section {
    display: flex;
    gap: 30px;
    overflow-y: scroll;
    padding: 50px;
}

.blog-aside {
    width: 20%;
    padding: 30px;
}

.blog-user h2 {
    margin-bottom: 20px;
    color: var(--orange);
}

.featured-posts {
    border-bottom: 1px solid var(--dark-purple);
    padding-bottom: 20px;
}

.featured-posts h2 {
    color: white;
    background-color: var(--dark-purple);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.featured-posts-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}

.featured-posts a {
    text-decoration: none;
    color: var(--dark-purple);
    font-weight: bold;
    font-size: 1.2vw;
}

.featured-posts a:hover {
    border-bottom: 1px solid var(--dark-purple)
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.post-preview {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.post-preview img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.post-preview-info h2 {
    margin-bottom: 20px;
}

.post-preview-info {
    display: flex;
    flex-direction: column;
    height: 300px;
    flex: 1;
}

.post-preview-info p {
    flex: 1;
}

.read-more-btn,
.comment-btn,
.signup-btn,
.login-btn {
    margin-top: 20px;
    width: fit-content;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--dark-purple);
}

/*----STYLE POST DETAIL-----*/
.post {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-self: center;
    gap: 20px;
    padding: 50px 0;
}

.post img {
    max-width: 100%;
}

.post-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-info img {
    height: 30px;
    background-color: var(--dark-purple);
    border-radius: 50%;

}

.post-description {
    color: grey;
    font-style: italic;
    font-weight: bold;
    font-size: 1vw;
    /* margin-top:20px; */
}

.post-body {
    font-size: 1.2vw;
    border-bottom: 1px solid var(--dark-purple);
    padding-bottom: 30px;

}

/*-----COMMENT BOX-----*/
.comment-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
    color: var(--dark-purple)
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-orange);

}

.comment-info {
    display: flex;
    align-items: center;
    gap: 10px;

}

.comment-info img {
    height: 30px;
    ;
}

.comment-author :nth-child(1) {
    font-weight: bold;
}

.comment-date {
    font-style: italic;
    font-size: small;
}

.comment-message {
    border-left: 1px solid var(--dark-purple);
    padding: 10px;
    margin-left: 15px;
}

#comment-input {
    width: 100%;
    height: 100px;
    padding: 5px;
    resize: none;
}

/*-----ERROR PAGE-----*/
#error-page {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    color: white;
}

#error-page a {
    background-color: var(--orange);
    padding: 10px;
    ;
    color: white;
    border-radius: 10px;
    text-decoration: none;

}

/*-----SIGNUP Page -----*/
.signUp,
.login {
    display: flex;
    align-items: center;
    height: calc(100% - 60px);
}

.signUp img,
.login img {
    height: 100%;
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 1.5vw;
    text-transform: uppercase;
}

.form input {
    font-size: 1.2vw;
    margin-bottom: 10px;
    ;
}

.error-msg {
    color: red;
}

/*Foto di <a href="https://unsplash.com/it/@hannynaibaho?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Hanny Naibaho</a> su <a href="https://unsplash.com/it/foto/foto-di-vetro-pieno-PN61o73PR1M?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
/*Foto di <a href="https://unsplash.com/it/@donramxn?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ramón Salinero</a> su <a href="https://unsplash.com/it/foto/mano-umana-che-tiene-la-sfera-del-plasma-vEE00Hx5d0Q?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/