:root{
  --light-red:#db6367;
  --dark-red:#B8494C;
  --light-green:#abda7f;
  --dark-green:#82b652;
  --dark-yellow:#E9C453;
  --light-yellow:#ecc95e;
  --light-grey:#D7E0E0;
  --dark-grey:#aaafaf;
  --dark-blue:#062A40;
  --light-blue:#083c5c;

}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Exo 2', 'sans serif';
}

body{
  height: 100vh;
}

#root{
  height: 100%;
  display:flex;
}
/*STYLE SIDEBAR */
.sidebar{
  height:100%;
  width:30%;
  padding:20px;
}
.sidebar ul{
  display:flex;
  flex-direction: column;
  gap:10px;
  list-style-type: none;
}
.sidebar li{
  background-color: var(--light-grey);
  padding:5px;
  border-radius: 5px;;
}
.sidebar li:hover{
  cursor:pointer;
  background-color: var(--dark-grey);
}
.sidebar a{
  text-decoration: none;
  color:black;
  display:block;
}
.sidebar .logout-btn{
  background-color: var(--light-red);
}
.logout-btn a{
  color:white;
}
.sidebar .logout-btn:hover{
  background-color: var(--dark-red);
}
/*STYLE CONTENT*/
.content{
  flex:1;
  padding:20px
}
.content h2{
  margin-bottom:10px;
  background-color: var(--dark-blue);
  color:white;
  padding:5px;
  border-radius: 5px;;
}
.content h2::first-letter{
  text-transform: uppercase;
}


/*STYLE FORM*/

.form{
  display:flex;
  flex-direction: column;
  gap:10px;
  border-radius:5px;
  padding:10px;
  background-color: var(--light-grey);
  margin-bottom:10px;
}
.form label{
  display:flex;
  flex-direction: column;
  font-weight: bold;
  gap:5px;
}
.form textarea{
  height: 100px;
  resize: none;
}
.form input, .form textarea{
  padding:5px;
}

/*STYLE LOGIN*/
.login-area{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center; 
}

.post-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.listed-post{
  color:black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  border-radius: 10px;
  background-color: var(--light-grey);
}
.listed-post:hover{
  cursor: pointer;
  background-color: var(--dark-grey);
}
.listed-post-info{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.listed-post-info img{
  height: 20px;
}
.listed-post-author,.listed-post-comments,.listed-post-date{
  display:flex;
  gap:5px;
}
.red-btn{
  color:white;
  background-color: var(--light-red);
  border:none;
  padding:5px;
  border-radius: 5px;;
}
.red-btn:hover{
  background-color: var(--dark-red);
  cursor:pointer;
}

.green-btn{
  color:black;
  background-color: var(--light-green);
  border:none;
  padding:5px;
  border-radius: 5px;;
}
.green-btn:hover{
  background-color: var(--dark-green);
  cursor:pointer;
}
.yellow-btn{
  background-color: var(--light-yellow);
  border:none;
  padding:5px;
  border-radius: 5px;;

}
.yellow-btn:hover{
  background-color: var(--dark-yellow);
  cursor:pointer;
}
.error-msg{
  color:red;
}


/*-----LOADING-----*/
.loading{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading img{
  height: 100px;
}
.loading p{
  color: var(--dark-purple);
  font-weight: bold;
}
